


<h1> 
  Welcome, 
  <h2>
    session_current_user.name
  </h2>
</h1>

<div class="currenttasks">
  <h2> 
    Here we can place reminders and what not if the person is logged in, otherwise we can place a login form 
  </h2>

  <p> 
    This is where we place the information. Here we can place reminders and what not if the person is logged in, otherwise we can place a login form 
  </p>