    
<div class="container">

    <div class="mobile_screen">

      <div class="logo">
        In Status
      </div>

      <ul class="icons">
        <li id="news" class="list">
          <a href="/"><img src="images/news.png" class="icon"></a>
        </li>
        <li id="forms" class="list">
          <a href="/"><img src="images/forms.png" class="icon"></a>
        </li>
        <li id="calendar" class="list">
          <a href="/"><img src="images/calender.png" class="icon"></a>
        </li>
        <li id="liveChat" class="list">
          <a href="/"><img src="images/support.png" class="icon"></a>
        </li>
        <div id="callMe" class="center">
          <a href="/"><img src="images/google-voice-logo.png" class="icon"></a>
        </div>
      </ul>
      <div class="bottom_navbar">
        <button id="menu_button">Menu</button>
      </div>


    </div>

  </div>