<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>


<nav class="navbar" role="navigation">
<div class="logo">
  In Status
</div>
  <ul class="nav nav-tabs nav-stroke">
    <li id="news" class="list">
      <a href="/news"><img src="images/news.png" class="icon"></a>
    </li>
    <li id="forms" class="list">
      <a href="/forms"><img src="images/forms.png" class="icon"></a>
    </li>
    <li id="calendar" class="list">
      <a href="/calendar"><img src="images/calender.png" class="icon"></a>
    </li>
    <li id="liveChat" class="list">
      <a href="/chat"><img src="images/support.png" class="icon"></a>
    </li>
    <li>
      <a href="/voicecalls"><img src="images/google-voice-logo.png" class="icon"></a>
    </li>
  </ul>
</nav>
<div class="jumbotron">
   <div class="container">
      <div class="col-md-8">
        <%= yield %>
      </div>
   </div>
</div>

</body>
</html>
