
<h1> Latest news </h1>

<div>
<h2> Title.captialize </h2>
<p> Text info here </p>
</div>
<br>

<div>
<h2> Title.captialize </h2>
<p> Text info here </p>
</div>
<br>

<div>
<h2> Title.captialize </h2>
<p> Text info here </p>
</div>
<br>